<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>{{ title }}</title>
  </head>
  <body>
    <main>{{ content|safe }}</main>
    <p class="last_modified">Last updated: {{ last_modified }}</p>
    <footer>
      <a href="mailto:contact@daniellaing.com">contact@daniellaing.com</a>
      <ul>
        <li>
          <a href="https://github.com/Bodleum" , target="_blank">GitHub</a>
        </li>
        <li>
          <a href="https://gitlab.com/Bodleum" , target="_blank">GitLab</a>
        </li>
        <li>
          <a href="https://www.instagram.com/_thebakerdan" , target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
