<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <input type="checkbox" id="nav-toggle" />
        <nav>
          <ul>
            {{ nav|safe }}
          </ul>
        </nav>
        <label for="nav-toggle" , id="nav-toggle-label">
          <span id="hamburger1"></span>
          <span id="hamburger2"></span>
          <span id="hamburger3"></span>
        </label>
        <div class="errors">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-exclamation-circle"
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
            />
            <path
              d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
            />
          </svg>
          <div class="errors-label">
            <p>
              This page generated some warnings.<br />
              If you're not the creator of this page, it's probably safe to
              ignore this.
            </p>
          </div>
        </div>
      </div>
    </header>
    <main>{{ content|safe }}</main>
    <footer>
      <div class="footer-info">{{ tags|safe }} {{ last_modified|safe }}</div>
      <div class="footer-wrapper">
        <a href="mailto:contact@daniellaing.com">contact@daniellaing.com</a>
        <ul>
          <li>
            <a href="https://github.com/daniellaing" , target="_blank">GitHub</a>
          </li>
          <li>
            <a href="https://gitlab.com/Bodleum" , target="_blank">GitLab</a>
          </li>
          <li>
            <a href="https://www.instagram.com/_thebakerdan" , target="_blank"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
