name: Build flake
on:
  workflow_dispatch:
  pull_request:

jobs:
  build_flake:
    name: Build flake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Free disk space
        uses: wimpysworld/nothing-but-nix@v9

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-gha-cache: true
          use-flakehub: false

      - name: Check flake
        run: nix flake check

      - name: Build flake
        run: nix build
